<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
            <!-- Navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Ruben Dario Guardo De La Rosa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#about">Sobre Mí </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Proyectos </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contacto </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Página de Inicio -->
    <header class="hero bg-primary text-white text-center py-5">
        <div class="container">
            <h1 class="display-4">Hola, soy Ruben Dario Guardo De La Rosa</h1>
            <p class="lead">Desarrollador C#, .NET, Python | Experto en Metodologías Ágiles y DevOps</p>
            <a href="#projects" class="btn btn-light btn-lg">Ver Mi Trabajo</a>
        </div>
    </header>

    <!-- Secciones -->
    <section id="about" class="py-5">
        <div class="container">
            <h2 class="text-center">Sobre Mí (About Me)</h2>
            <div class="row">
                <div class="col-lg-4">
                    <img src="/src/Content/Images/Perfil.jpg" alt="Foto perfil" class="img-fluid rounded-circle">
                </div>
                <div class="col-lg-8">
                    <p>Hola, soy   RUBEN Dario GUARDO DE LA ROSA, un desarrollador con experiencia en C#, .NET, y Python. Me especializo en metodologías ágiles como Scrum, así como en DevOps y microservicios. Me apasiona crear soluciones eficientes y escalables utilizando Clean Architecture y patrones de diseño avanzados.</p>
                    <ul>
                        <li><strong>Lenguajes de Programación:</strong> C#, .NET, Python</li>
                        <li><strong>Metodologías Ágiles:</strong> Scrum, Kanban</li>
                        <li><strong>Herramientas:</strong> Git, Git Flow</li>
                        <li><strong>Arquitecturas:</strong> Microservicios, CQRS, Clean Architecture, Repository Architecture</li>
                        <li><strong>Patrones de Diseño:</strong> MVC</li>
                        <li><strong>Bases de Datos:</strong> SQL, Oracle, PostgreSQL</li>
                        <li><strong>Servicios:</strong> REST</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="projects" class="bg-light py-5">
        <div class="container">
            <h2 class="text-center">Proyectos (Proyects Experience)</h2>
            <div class="row">
                <!-- Proyecto 1 -->
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="project1.jpg" class="card-img-top" alt="Proyecto 1">
                        <div class="card-body">
                            <h5 class="card-title">Gestión de procesos de CANJE & ENCAJE Banco XXXX</h5>
                            <p class="card-text">Descripción breve del proyecto : Tecnología utilizada: C#, .NET, SQL.</p>
                        </div>
                    </div>
                </div>
                <!-- Proyecto 2 -->
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="project2.jpg" class="card-img-top" alt="Proyecto 2">
                        <div class="card-body">
                            <h5 class="card-title">Gestión de Reportes de Contraloria General De La Nación</h5>
                            <p class="card-text">Descripción breve del proyecto: Tecnología utilizada: Python, PostgreSQL, REST.</p>
                        </div>
                    </div>
                </div>
                <!-- Proyecto 3 -->
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="project3.jpg" class="card-img-top" alt="Proyecto 3">
                        <div class="card-body">
                            <h5 class="card-title">Centralización, Consolidación y Reportes de Facturación</h5>
                            <p class="card-text">Descripción breve del proyecto: Tecnología utilizada: .NET, Oracle, CQRS.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="py-5">
        <div class="container">
            <h2 class="text-center">Contacto (Contact)</h2>
            <form action="mailto:juanito@example.com" method="post" enctype="text/plain">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="message" rows="4" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </section>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2024  RUBEN DARIO GUARDO DE LA ROSA. Todos los derechos reservados.</p>
        <p><a href="https://www.linkedin.com/in/ruben-dario-guardo-de-la-rosa-159a07109/" class="text-white">LinkedIn</a> | <a href="https://github.com/JuggernautRG08" class="text-white">GitHub</a></p>
    </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
